html {
    box-sizing: border-box;
}

body {
    background-color: #FDFBF7;
    ;
}

/* index.html */
.header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    /* 上下の中央に揃える */
    padding: 10px 20px;
    /* ヘッダー全体の余白（お好みで調整） */
}

/* 右側エリア（タイトル + ナビゲーション） */
.header_right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* 上にタイトル、下にナビを配置 */
    min-height: 80px;
    /* 画像の高さ(80px)と統一 */
}

.title {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    text-align: center;
}

nav {
    flex-grow: 1;
}

nav ul {
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
}

nav li {
    display: table-cell;
    min-width: 50px;
}

nav a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #555;
    padding-bottom: 5px;
}

nav li.current {
    border-bottom: 3px solid #92D050;
}

nav li:hover {
    color: #3D2314;
    border-bottom: 3px solid #3D2314;
}

.ramenIcon img {
    height: 80px;
    width: auto;
    display: block;
}